.home-link{
    background-color: slategray;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.link-switch{
    background-color: slategray;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
h3{
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: large;
}
.status{
  display: flex;
  justify-content: space-between;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f0f0f0;
}

tr:nth-of-type(even) {
  background-color: #f9f9f9;
}


form{
    text-align: center;
    margin: 1rem auto;
}

input{
    padding: 0.3rem;
    border-radius: 5px;
}

button{
    padding: 0.3rem;
    margin-left: 0.5rem;
    font-weight: bold;
    background-color: slategray;
    color: white;
    border-radius: 5px;

}
@media only screen and (max-width:600px){
  .table{
    overflow-x: scroll;
  }
  input{
    margin-top: 4rem;
  }
}